.section{
    text-align: center;
    color: #333;
    text-shadow: 3px 3px rgba(50, 50, 70,  0.5);
    background-color: #ffb6b9b0;
}

.navBg{
    background-color: #b197d8;
}


.logo{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.me-auto{
    font-size: 25px;
    font-family: monospace;
}
.me-auto :hover{
    background-color: #665381;
}




