.section{
    text-align: center;
    color: #333;
}

.navBg{
    background-color: #b197d8;
}


.logo{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.me-auto{
    font-size: 25px;
    font-family: monospace;
}
.me-auto :hover{
    background-color: #665381;
}




