.loader{
    height: 100px;
    width: 100px;
    margin-left: 50%;
    border-top: 4px solid #03fcfc;
    border-right: 4px solid transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}